html, body{
	height: 100%;
	overflow: auto;
    background-color: #eeeeee;
}

.botao{
	display: inline-block;
}

#linkYT {
    width: 100%;
    height: 100%;
}

.band {
    text-align: right;
}

.musica {
    text-align: right;
    float: right;
}

.message {
    margin-bottom: 20px;
}

.btn-custom {
    width: 150px;
    height: 50px;
    font-size: 0.8em;
    margin-top: 20px;
    margin-right: 20px;
    
}

.video-container {
        background-image: url(../images/toolCompressed.jpg);
        width: 100%;
        height: 335px;
}


.row-adjustment {
    padding-left: 15px;
    padding-right: 15px;
}
